#style1{
    border: 1px solid black;
    width:300px;
    height:300px;
    margin-top: 100px;
    position: relative;
    background-color: rgb(21, 53, 53);
}
#style2{
    position:absolute;
    bottom: 50px;
    left: 22px;
}
#style3{
    display: none;
    
}
.img1:hover + #style3{
    display: block;
    transform: scaleY(1);
    position: absolute;
    /* top: 40px; */
    bottom: 20px;
    color: cadetblue;
    

    
}
.img1:hover{
    transform:translateY(-25%);
    /* transition: 1s; */
    transform: scaleY(0.5);
    


}

#style4{
    margin-top: 200px;
}
#style5{
    margin-top: 240px;
    
}
a{
    text-decoration: none;
    color: red;
}
#style6{

    color: bisque;
}
#cols{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color:rgb(38, 85, 69);
}
/* vave length */
svg {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: aqua;
    /* height: 500px; */
    /* width: 100%; */
    
  }
  .container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 26%;
    vertical-align: middle;
    overflow: hidden;
    
    
  }
  /* animation text */
  vg text {
	text-transform: uppercase;
	animation: stroke 5s infinite alternate;
	stroke-width: 2;
	stroke: #365fa0;
	font-size: 140px;
}
svg text {
	text-transform: uppercase;
	animation: stroke 5s infinite alternate;
	stroke-width: 2;
	stroke: #365fa0;
	font-size: 20px;
    
}
@keyframes stroke {
	0%   {
		fill: rgba(72,138,20,0); stroke: rgba(54,95,160,1);
		stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
	}
	70%  {fill: rgba(72,138,20,0); stroke: rgba(54,95,160,1); }
	80%  {fill: rgba(72,138,20,0); stroke: rgba(54,95,160,1); stroke-width: 3; }
	100% {
		fill: rgba(72,138,204,1); stroke: rgba(54,95,160,0); 
		stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
	}
}
/* third slide */
#container1{
    width: 100%;
    display: flex;
    /* justify-content: space-around; */
}
  #containertex1{
    width: 50%;
    /* border: 1px solid black; */
    /* height: 100%; */
  }
  #containerimg1{
    width: 50%;
    /* border: 1px solid black; */
    background-color: aqua;
    /* border-radius: 50%; */
  }
  .radio{
    width: 100%;
    /* height: 300px; */
    vertical-align: middle;
    border-radius: 50%;
  }
  #containerbox{
    /* width: 200px; */
    
    display: flex;
    justify-content: center;
    justify-content:space-evenly;
    background-color:aqua;
  }
  
    /* margin-top: 10%; */

  #container1{
    background-color: aqua;
  }
  #box1{
    background-color: rgb(96, 136, 136);
    
    font-size: 17px;
    
    
  }
  #box1:hover{
    background-color:white;
  } 
  #box2{
    background-color: rgb(96, 136, 136);
  }
  #box3{
    background-color: rgb(96, 136, 136);
  }
  #box4{
    background-color: rgb(96, 136, 136);
  }
  #box2:hover{
    background-color:white;
  }
  #box3:hover{
    background-color:white;
  }
  #box4:hover{
    background-color:white;
  }
  #containerimg1{
    background-color: aqua;
    
  }
  /* mark */
  #mark{
    width: 100%;
    /* border: 1px solid black; */
  }
  #boxpart1{
    display: flex;
  }
  #boxpart2{
    display: flex;
  }